{include file="public/header" /}
<body>
<form method="post" action="{:url('account/index/doAdd')}">
<div class="record_title">
	<span>记账</span>
	<input type="text" id="pickdate" name="pickdate" value="{$pickdate}" readonly />
</div>
<div class='record'>
  <div class='record_fields'>
	<div class="record_fields_order_type">
		<button tpye="button" order_type="0" class="button-left active" onClick="return false;">支出</button>
		<button tpye="button" order_type="1" class="button-right nonactive" onClick="return false;">收入</button>
		<input type="hidden" name="order_type" id="order_type" value="0">
		<input type="hidden" name="rid" id="rid" value="{$record.id|default=0}">
	</div>
	<input type="hidden" name="tid" id="tid" value="{$record.tid|default=1}">
	<input type="hidden" name="payment_id" id="payment_id" value="{$record.payment_id|default=1}">
	<div class="record_fields_tid swiper-container-0" id="expenditure">
		<div class="swiper-wrapper">
			{volist name="type_info_list" id="vo"}
			<div tid="{$vo.id}" class="swiper-slide {if $record.tid eq $vo.id}tid-active{/if}">{$vo.name}</div>
			{/volist}
			<div tid="0" class="swiper-slide"></div>
			<div tid="0" class="swiper-slide"></div>
		</div>
	</div>
	<div class="record_fields_tid swiper-container-1" id="income" style="display:none;">
		<div class="swiper-wrapper">
			<div tid="0" class="swiper-slide tid-active">工资</div>
			<div tid="0" class="swiper-slide">奖金</div>
			<div tid="0" class="swiper-slide">其他</div>
			<div tid="0" class="swiper-slide"></div>
			<div tid="0" class="swiper-slide"></div>
		</div>
	</div>
	<div class="record_fields_payment ">
		<p style="margin: 0 auto;padding: 0;color: #e6e7ef;font-size: 14px;">支付方式</p>
		<div class="swiper-container-payment"> 
			<div class="swiper-wrapper">
				{volist name="payment_info_list" id="vo"}
				<div payment_id="{$vo.id}" class="swiper-slide {if $record.payment_id eq $vo.id}tid-active{/if}">{$vo.name}</div>
				{/volist}
				<div payment_id="0" class="swiper-slide"></div>
				<div payment_id="0" class="swiper-slide"></div>
			</div>
		</div>
	</div>
	<div class='record_fields_money'>
	  <div class='icon'>
		<img src='__STATIC__img/currency_black_yuan.png'>
	  </div>
	  <input placeholder='0.00' name="money" class="money" type='number' value="{$record.money}">
		<div class='validation'>
		  <img src='__STATIC__img/tick.png'>
		</div>
	  </input>
	</div>
	<div class='record_fields_remark'>
	  <div class='icon'>
		<img src='__STATIC__img/writing.png'>
	  </div>
	  <textarea style="max-width: 256px;" name="remark" class="remark" placeholder='备注' >{$record.remark}</textarea>
	  <div class='validation'>
		<img src='__STATIC__img/tick.png'>
	  </div>
	</div>
	<div class='record_fields_submit'>
	  <input type='submit' value='保存'>
	</div>
  </div> 
</div>
</form>
{include file="public/footer" /}

<script src="__STATIC__js/jquery-2.1.1.min.js"></script>
<script src="__STATIC__js/swiper.min.js"></script>
<script src="__STATIC__js/add_record.js"></script> 
<script src="__STATIC__mobiscroll/js/mobiscroll_date.js?2"></script> 
<script src="__STATIC__mobiscroll/js/mobiscroll.js"></script> 
<script type="text/javascript">
$(function () {
	var currYear = (new Date()).getFullYear();	
	var opt={};
	opt.date = {preset : 'date'};
	opt.datetime = {preset : 'datetime'};
	opt.time = {preset : 'time'};
	opt.default = {
		theme: 'android-ics light', //皮肤样式
		display: 'modal', //显示方式 
		mode: 'scroller', //日期选择模式
		dateFormat: 'yy年m月dd日',
		lang: 'zh',
		showNow: true,
		nowText: "今天",
		startYear: currYear - 10, //开始年份
		endYear: currYear + 10 //结束年份
	};

	$("#pickdate").mobiscroll($.extend(opt['date'], opt['default']));
	
	var rid = '{$record.id}';
	if(rid == ''){
		$('#expenditure .swiper-slide:eq(0)').addClass('tid-active');
		$('.record_fields_payment .swiper-slide:eq(0)').addClass('tid-active');
	}

});
</script>
</body>
</html>
