{include file="public/header" /}
<body>
<div class="record_title">
	<span>明细</span>
	<input type="text" id="pickdate" name="pickdate" value="{$pickdate}" readonly />
	<a href="{:url('account/index/add')}"><img src="__STATIC__img/Add_32px.png" /></a> 
</div>
<div class='record'>
  <div class='record_fields'>
	<div class="record_fields_order_type">
		<button class="button-left active">支出</button>
		<button class="button-right nonactive">收入</button>
	</div>
	{if $sum_money gt 0}
	<div class="record_fields_list" style="margin-top: 5px;">
		<ul class="set-back-color">
			<li><span class="fl-l tid-type">支出</span><span class="fl-r list-money">¥<i>-{$sum_money}</i></span></li>
		</ul>
	</div>
	<div class="record_fields_list">
		<ul class="set-back-color" id="expenditure">
			{volist name="list" id="vo"}
			<a href="{:url('account/index/edit')}?rid={$vo.id}"><li><span class="fl-l tid-type">{$vo.tid|get_record_type}</span><span class="fl-r list-money">¥<i>-{$vo.money}</i></span></li></a>
			{/volist}
		</ul>
	</div>
	{/if}
  </div>
</div>
{include file="public/footer" /}

<script src="__STATIC__js/jquery-2.1.1.min.js"></script>
<script src="__STATIC__js/swiper.min.js"></script>
<script src="__STATIC__js/add_record.js"></script> 
<script src="__STATIC__mobiscroll/js/mobiscroll_date.js?2"></script> 
<script src="__STATIC__mobiscroll/js/mobiscroll.js"></script> 
<script type="text/javascript">
$(function () {
	var currYear = (new Date()).getFullYear();	
	var opt={};
	opt.date = {preset : 'date'};
	opt.datetime = {preset : 'datetime'};
	opt.time = {preset : 'time'};
	opt.default = {
		theme: 'android-ics light', //皮肤样式
		display: 'modal', //显示方式 
		mode: 'scroller', //日期选择模式
		dateFormat: 'yy年m月dd日',
		lang: 'zh',
		showNow: true,
		nowText: "今天",
		startYear: currYear - 10, //开始年份
		endYear: currYear + 10, //结束年份
		onSelect:mobiscroll_select
	};

	$("#pickdate").mobiscroll($.extend(opt['date'], opt['default']));

});
function mobiscroll_select(valueText,inst){
	//valueText是选中的值
	//console.log("valueText : " + valueText);
	//mobiscroll对象
	//console.log("inst : " + inst);
	window.location.href="{:url('account/index/index')}?pickdate="+valueText;
}
</script>
</body>
</html>
