<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>page</title>
</head>

<body>
    <form method="post" action="doRequest">
	<input type="text" name="param1" value="test1" />
	<input type="text" name="param2" value="test2" />
	<input type="text" name="param3" value="test3" />
	<input type="submit" name="submit" value="提交" />
	</form>
</body>

</html>
